body{
    font-family: 'Poppins', sans-serif;
}
.top-row-edit {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
  }
  .top-lcol-edit{
    position: relative;
  }
  .top-rcol-edit {
    position: relative;
  }
.headername {
    margin: 50px 0 30px 0;
    color: black;
    font-weight: 700;
    text-shadow: 2x 2x springgreen;
}
.headername span{
    color: tomato;
}
.slider-row h1 {
    color: black;
    font-weight: 700;
}
.slider-row span {
    color: tomato;
}

.custom-navbar {
    background-color: rgba(224, 224, 224, 0.74);
}
.navbar-brand-image img{
    height: 40px ;
}
.nike-text-section-edit {
    padding-left: 10%;
}
.header-container {
    background-color: rgb(240, 214, 209);
    padding-top: 100px;
    padding-bottom: 50px;
}
.nike-text-section-edit h1{
    font-weight: 700;
    font-size: 4em;
    text-transform: uppercase;
}
.nike-text {
    color: tomato;
}
/* ..................  */
.panda-col-edit{

}
.panda-s {
    border-radius: 20px;
    padding-top: 15px;
    border: 0;
}
.card-img-edit {
    padding: 50px;
    width: 90%;
    margin: auto;
    background-color: rgb(182, 182, 182);
    border-radius: 20px;
}

.panda-sf{
    background-color: rgb(255, 255, 255);
    border: 0;
    color: tomato;
}
.panda-sf3 {
    padding-top: 15px;
}
/* .........................  */
.fmain {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.fleft {
    position: relative;
    width:40%;
    padding-right: 40px;
}
.fright {
    position: relative;
    width:60%;
}
.fleft img{
    width: 80px;
}
.fright {
    padding-left: 50px;
    padding-top: 60px;

}
.fright img {
    width: 100%;
    height: 400px;
}
/* ............  */
.slider-row {
    position: relative;
}
.upcoming-text {
    position: absolute;
    left: 0px;
    top: 200px;
}



@media (min-width: 768px) and (max-width: 991.99px) {
    .nike-text-section-edit {
        padding-left: 2%;
    }
    .nike-text-section-edit h1{
        font-weight: 700;
        font-size: 2em;
    }
    .headername {
        margin: 30px 0 10px 0;
        font-weight: 700;
        text-align: center;
    }
    .headername span{
        color: tomato;
    }
    .card-img-edit {
        padding: 5px;
    }
    .card-edit-text {
        font-size: 14px;
    }
    .cart-button-edit {
        font-size: 12px;
    }
    .shoe-price {
        padding-top: 8px;
        font-size: 22px;
    }
    .fleft {
        padding-right: 0px;
    }
    .upcoming-text {
        top: 60px;
    }
    .fright {
        padding-left: 0px;
    }






}
@media (max-width:998px){

    .fmain {
        justify-content: space-around;
    }
  
    .fleft {
        order:2;
        display: block;
        width: 100%;
    }
  
    .fright {
        order:1;
        width: 100%;
    }
    .top-row-edit {
        justify-content: space-between;
    }
  
    .top-lcol-edit {
        order:2;
    }
  
    .top-rcol-edit {
        order:1;
    }
  }

  @media (min-width: 300px) and (max-width: 767.99px){
    .nike-text-section-edit {
        padding-left: 0;
        text-align: center;
    }
    .nike-text-section-edit h1{
        font-weight: 600;
        font-size: 2em;
    }
    .header-container {
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .headername {
        text-align: center;
    }
    .fright img {
        height: 250px;
    }
    .fleft {
        padding-right: 0px;
    }
    .fright {
        padding-left: 0px;
    }
    .upcoming-text {
        top: 280px;
    }














    
  }